.login_reg_Form {
  text-align: center;
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 5em;
  border-radius: 2em;
  box-shadow: 10px 10px 5px gray;
}

@media screen and (max-width: 750px) {
  .login_reg_Form {
    padding: 10px;
    width: 80%;
  }
}

.login_reg_Form button,
.btn,
textarea,
.input-group-prepend,
input::-webkit-input-placeholder {
  font-family: "myFont", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login_reg_Form button,
.btn,
textarea,
.input-group-prepend,
input::-ms-input-placeholder {
  font-family: "myFont", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login_reg_Form,
.btn button,
textarea,
.input-group-prepend,
input::-moz-placeholder {
  font-family: "myFont", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.searchFormEdit {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 2em;
  box-shadow: 10px 10px 5px gray;
  padding: 2em;
  background-color: #fcfcfd;
  opacity: 0.9;
  width: 50%;
  margin: auto;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .searchFormEdit {
    width: 100%;
  }
}

.topsection {
  width: 50%;
}

@media screen and (max-width: 750px) {
  .topsection {
    width: 100%;
  }
}

.modal-title {
  font-family: "myFont", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
